@import 'mixins';
@import 'variables';
@import 'navbar';
@import 'footer';

%align-center {
  display:flex;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $light-gray;
}

.main-image {
  background-image: url('../images/portfolio-header.png');

  &__container {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 380px;
  }
}

.content{

  background-color: white;  
  text-align: center;
  margin: 0px 24px;
  margin-top: -50px; 
  
  border-radius: 8px;
  box-shadow:  20px 20px 60px #bebebe;


  &__project {

    padding-top: 50px;
    margin-left: 12px;
    margin-right: 12px;

  
    &__description {

      text-align: center;
        
      @include desktop {
        max-width: 900px;
        margin: 0 auto;
      }


      & img {
        max-width: 100%;
        margin-bottom: 40px;
      } 
    }

    & h1 {
      font-size: 24px;
      font-weight: 500;
      color: $gray;
      margin-bottom: 30px;

      @include tablet {
        font-size: 36px;
      }

      @include desktop {
        font-size: 42px;
      }
    }

    & p {
      font-size: 16px;
      font-weight: 300;
      color: #999999;
      margin-bottom: 24px;
    }
  }
  
  &__tags {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    &--tag {
      padding: 5px 16px;
      background-color: $purple;
      border-radius: 8px;
      margin: 0px 3px;  
      display: flex;
      justify-content: center;
      align-items: center;
      }

      & p {
        font-size: 10px;
        font-weight: 500;
        color: $white;
        
    }
  }

  &__view-button {

    padding-bottom: 50px;

    & button {
      
      background-color: purple; 
      border-radius: 4px;
      border:none;
      box-shadow: 3px 3px 3 px gray;
      

      & a {
        padding: 14px 47px;
        display: block;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
    
      }
    }
  }
}



